<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
   <configSections>
      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
   </configSections>
   <appSettings>
      <add key="webpages:Version" value="1.0.0.0"/>
      <add key="ClientValidationEnabled" value="true"/>
      <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
   </appSettings>
   <system.web>
      <customErrors mode="Off"></customErrors>
      <compilation debug="true" targetFramework="4.0">
         <assemblies>
            <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
         </assemblies>
      </compilation>
      <authentication mode="Forms">

         <forms requireSSL="false" loginUrl="/home/login" timeout="9999" slidingExpiration="true" cookieless="AutoDetect"/>
      </authentication>
      <pages>
         <namespaces>
            <add namespace="System.Web.Helpers"/>
            <add namespace="System.Web.Mvc"/>
            <add namespace="System.Web.Mvc.Ajax"/>
            <add namespace="System.Web.Mvc.Html"/>
            <add namespace="System.Web.Routing"/>
            <add namespace="System.Web.WebPages"/>
         </namespaces>
      </pages>
   </system.web>
   <system.webServer>
      <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
         <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
         <dynamicTypes>
            <add mimeType="text/*" enabled="true"/>
            <add mimeType="message/*" enabled="true"/>
            <add mimeType="application/javascript" enabled="true"/>
            <add mimeType="*/*" enabled="false"/>
         </dynamicTypes>
         <staticTypes>
            <add mimeType="text/*" enabled="true"/>
            <add mimeType="message/*" enabled="true"/>
            <add mimeType="application/javascript" enabled="true"/>
            <add mimeType="*/*" enabled="false"/>
         </staticTypes>
      </httpCompression>
      <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
      <validation validateIntegratedModeConfiguration="false"/>
      <modules runAllManagedModulesForAllRequests="true"/>
   </system.webServer>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
            <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
            <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
   <connectionStrings>
      <!--<add name="Data" connectionString="Data Source=localhost;Initial Catalog=quesbank;Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
      <add name="Data" connectionString="Data Source=mohit-pc\sqlexpress;Initial Catalog=chatDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
      <!--<add name="Data" connectionString="Data Source=50.28.66.8 ;Initial Catalog=postbank; User Id =moniv8; Password=$8justhello" providerName="System.Data.SqlClient"/>-->
      <!--<add name="Data" connectionString="Data Source=50.28.66.8 ;Initial Catalog=quesbank; User Id =moniv; Password=$8justhello" providerName="System.Data.SqlClient"/>-->
   </connectionStrings>
   <entityFramework>
      <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
      <providers>
         <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      </providers>
   </entityFramework>
</configuration>